body {
    margin: 0;
    font-family: Arial;
    background: #0f1117;
    color: #4ea1ff;
}

#app {
    display: flex;
    height: 100vh;
}

/* LEFT SIDEBAR */
#sidebar {
    width: 200px;
    background: #0b0d12;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#sidebar button {
    background: #1a1d24;
    color: #4ea1ff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

/* CHAT */
#chat {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#messages {
    flex: 1;
    list-style: none;
    padding: 10px;
    overflow-y: auto;
}

#messages li {
    background: #1a1d24;
    margin: 5px;
    padding: 8px;
    border-radius: 8px;
}

/* INPUT */
#inputArea {
    display: flex;
    padding: 10px;
    background: #0b0d12;
}

#input {
    flex: 1;
    padding: 10px;
}

/* RIGHT USERS */
#usersPanel {
    width: 200px;
    background: #0b0d12;
    padding: 10px;
}
.page {
    display: flex;
    width: 100%;
    height: 100vh;
}

.hidden {
    display: none;
}
